.buttonss {
  cursor: pointer;
  font-weight: 700;
  transition: all 0.2s;
  padding: 10px 20px;
  border-radius: 100px;
  background: rgb(13, 202, 240);
  color:white;
  border: 1px solid transparent;
  
 
  display: flex;
  align-items: center;
  font-size: 15px;

  
  margin: 0 auto; 
 
}

.buttonss:hover {
  background: rgb(13, 202, 240);
}

.buttonss > svg {
  width: 34px;
  margin-left: 10px;
  transition: transform 0.3s ease-in-out;
}

.buttonss:hover svg {
  transform: translateX(5px);
}

.buttonss:active {
  transform: scale(0.95);
}
